/** PAGES **/

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 25px;
  height: fit-content;
  box-sizing: border-box;
}

.main-blurb,
.secondary-blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 1em;
  height: 100%;
  flex-grow: 1;
  margin-right: auto;
}

/** CONTACT PAGE **/

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-map {
  display: flex;
  width: 100%;
}

.contact-map ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening-hours {
  margin: auto;
  width: 100%;
}

.contact-map ul {
  list-style: none;
  padding: 25px;
  margin: auto;
}

/** MENU PAGE **/
#menu-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#menu-wrapper {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.menu-section-header {
  margin: auto;
  padding: 1em;
}

.menu-section-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/** PRODUCT PAGE **/

#item-display-pic {
  width: 100%;
  max-width: 300px;
}

.product-page {
  color: var(--not-quite-black);
  gap: 1em;
}

.product-page h2 {
  color: black;
}

.product-description {
  max-width: 500px;
  text-align: justify;
}
