.navbar {
  align-items: center;
  background-color: gray;
  background-color: var(--primary-color);
  display: flex;
  filter: drop-shadow(5px 5px 5px black);
  font-size: 2em;
  height: 100px;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  z-index: 99;
}

.navbar img {
  height: 75px;
  padding: 10px;
}

.nav-links {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.nav-link {
  align-items: center;
  display: flex;
  flex-shrink: 4;
  height: 100%;
  justify-content: center;
  min-width: 50px;
  padding: 0 10px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.55);
  color: var(--card-highlight);
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a {
  display: flex;
  height: 100%;
  justify-content: center;
}

#logobox {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
}

#shoppingcart {
  align-items: center;
  display: flex;
  justify-content: center;
}

#shoppingcart img {
  height: 35px;
}

#shoppingcart:hover {
  background-image: none;
  scale: 1.2;
}

#storename {
  font-size: 2em;
  min-width: 255px;
}

.dropdown-wrapper {
  background-color: var(--primary-color);
  /* border: 1px solid var(--card-highlight); */
  display: none;
  /* filter: drop-shadow(0px 2px 5px black); */
  flex-direction: column;
  margin: auto;
  position: relative;
  width: 5em;

  /*  */
  /*  */
}

.dropdownactive {
  filter: drop-shadow(2px 2px 5px black);
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;
  padding: 0.25em;
  position: relative;
  transition: 0.5s;
}

#folded {
  display: none;
}

#unfolded {
  display: flex;
}

@media (max-width: 780px) {
  .dropdown-wrapper {
    display: flex;
  }

  .nav-links {
    display: none;
  }
}

@media (max-width: 575px) {
  #storename {
    display: none;
  }
  .dropdown-wrapper {
    margin-right: 0;
  }
}

#numberincart {
  font-size: 0.75em;
  position: absolute;
  transform: translate(120%, 40%);
}
