.navbar {
  /* background-color: gray; */
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  font-size: 2em;
}

.navbar img {
  height: 75px;
  padding: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}

.nav-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  /* flex-shrink: 4; */
  /* min-width: 50px; */
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.55);
  color: var(--card-highlight);
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a {
  height: 100%;
  display: flex;
  justify-content: center;
}

#logobox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#shoppingcart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shoppingcart img {
  height: 35px;
}

#shoppingcart:hover {
  background-image: none;
  scale: 1.2;
}

#storename {
  font-size: 2em;
  min-width: 255px;
}

.dropdown-wrapper {
  display: none;
  flex-direction: column;
  width: 5em;
  /* position: relative; */
  margin: auto;

  z-index: 99;
  background-color: var(--primary-color);
  border: 1px solid var(--card-highlight);
  /* filter: drop-shadow(0px 2px 5px black); */
}

.dropdown {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* right: 0; */
  margin-top: 1em;
  gap: 0.5em;
  padding: 0.25em;
}

#folded {
  display: none;
}

#unfolded {
  display: flex;
}

@media (max-width: 780px) {
  .dropdown-wrapper {
    display: flex;
  }

  .nav-links {
    display: none;
  }
}

@media (max-width: 500px) {
  #storename {
    display: none;
  }
  .dropdown-wrapper {
    margin-right: 0;
  }
}
