.App {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: inherit;
  width: 100%;
  position: relative;
}

/** NAVBAR **/
.navbar {
  align-items: center;
  background-color: white;
  color: darkgray;
  display: flex;
  filter: drop-shadow(2px 2px 3px var(--primary-color));
  font-size: 1.25em;
  height: 100px;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
}

.navbar img {
  height: 75px;
  padding: 10px;
}

.nav-links {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: auto;
}

.nav-link {
  align-items: center;
  display: flex;
  flex-shrink: 4;
  height: 100%;
  justify-content: center;
  min-width: 50px;
  padding: 0 10px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.55);
  color: var(--card-background);
}

.navbar a {
  color: var(--primary-text);
  text-decoration: none;
  font-weight: bold;
}

.navbar a {
  display: flex;
  height: 100%;
  justify-content: center;
}

#logobox {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.dropdown-wrapper {
  background-color: var(--primary-color);
  display: none;
  flex-direction: column;
  margin: auto;
  position: relative;
  width: 5em;
}

#nav-btns {
  display: none;
  min-width: 200px;
}

#storename {
  display: none;
  font-size: 1.5em;
}

@media (min-width: 750px) {
  #storename {
    display: block;
  }
}

@media (min-width: 675px) {
  #nav-btns {
    display: flex;
  }
}

#navbar-home-label {
  display: none;
}

@media (min-width: 525px) {
  #navbar-home-label {
    display: block;
  }
}

/** NAV BUTTONS **/
#sign-in-btn,
#join-now-btn {
  border-radius: 50px;
  border: 1px solid black;
  padding: 0.5em 1em;
  font-weight: bold;
  margin: 0 0.5em;
  cursor: pointer;
}

#sign-in-btn:hover,
#join-now-btn:hover {
  filter: invert(15%);
}

#sign-in-btn {
  background-color: white;
}

#join-now-btn {
  background-color: var(--not-quite-black);
  color: white;
}

/** FOOTER **/

#footer {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 1em;
  box-sizing: border-box;

  background-color: #000000d9;
  color: var(--font-on-dark);
  overflow: hidden;
}

#footer a {
  color: white;
  text-decoration: none;
}

#bot-nav {
  width: 100%;
  max-width: 500px;
}

#bot-nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;

  padding: 0;
}

#footer-site-information {
  padding: 0 0.5em 0.5em;
}

#inquiries {
  list-style: none;
  display: flex;
  width: 50%;
  max-width: 200px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.socials img {
  height: 25px;
}
