:root {
  --primary-color: #9e2a2b;
  --background-color: #fff3b0;
  --card-background: #dda15e;
  --card-highlight: #540b0e;
  --card-label: #9e2a2b;
  --font-on-primary: #000000;
  --font-on-dark: #f0f8ff;
  --global-font: "Josefin Sans";
  font-family: var(--global-font);
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
