:root {
  --primary-color: gray;
  --primary-text: gray;
  --background-color: aliceblue;
  --card-background: white;
  --card-highlight: darkgray;
  --card-label: darkgray;
  --font-on-primary: #000000;
  --font-on-dark: #f0f8ff;
  --global-font: "Josefin Sans";
  font-family: var(--global-font);

  --not-quite-black: gray;
}

#root,
html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
